@import 'lxgw-wenkai-webfont/style.css';

:root {
    --vp-font-family-base: "LXGW WenKai", sans-serif;
    --vp-font-family-mono: "JetBrains Mono","LXGW WenKai", sans-serif;
}

#VPContent {
    font-size: 1.1rem;
}